{{define "main"}}
<div class="intro" style="align-items: center">
  {{if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | absURL }}' 
	title="{{	.Site.Params.main.img_title }}" width="200px" 
	alt="Author's picture or avatar or logo"/>
  <ul>
    <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
  </ul>
  {{end}}
  <p>{{ .Site.Params.main.description | safeHTML }}</p>
  <div>
    <h2>Marca</h2>
    <p>Desarrolladora 3i3</p>
    <h2>Registro patronal</h2>
    <p>R1379048108</p>
    <h2>Direccion Registro patronal (El domicilio de los Prestadores)</h2>
    <p>AV DE LAS AMERICAS 1592 COL PROVIDENCIA 1RA SECCION CP 44630 GUADALAJARA JALISCO</p>
    <h2>Telefonos de la empresa</h2>
    <p>(33)3647-1808<br/>(33)3122-2511</p>
    <h2>(Opcional) La firma de los Prestadores o de sus representantes legales</h2>
    <p></p>
    <h2>N° de trabajador 3i3</h2>
    <p>120</p>
    <h2>Nombre completo</h2>
    <p>MONICA ZACARIAS LOZADA</p>
    <h2>Departamento</h2>
    <p>VIAVILIDAD</p>
    <h2>Fecha de ingreso</h2>
    <p>4/24/2023</p>
    <h2>Puesto</h2>
    <p>COORDINACION DE NOMINAS</p>
    <h2>CURP</h2>
    <p>ZALM940923MVZCZN03</p>
    <h2>Numero de seguro social</h2>
    <p>67-13-94-6760-8</p>
    <h2>Unidad Medica Familiar</h2>
    <p>51 GUADALAJARA</p>
    <h2>tiene algun padecimiento y cual</h2>
    <p>NO</p>
    <h2>Telefono del Trabajador</h2>
    <p>2721203062</p>
    <h2>Alergias</h2>
    <p>NO</p>
    <h2>Tipo de sangre</h2>
    <p>O+</p>
    <h2>N°  de telefono en caso de emergencias Emergencias</h2>
    <p>2721179437</p>
    <h2>Nombre de a quien se debe llamar:</h2>
    <p>EMMANUEL ARELLANO GALICIA</p>
    <h2>Numero de control de la credencial / o numero de autorizacion</h2>
    <p>1</p>
    <h2>Codigo QR o vigencia </h2>
    <p>ACTIVO</p>
</div>
</div>
<!--{{ partial "menu.html" . }}-->
{{end}}

