{{define "main"}}
<div class="intro" style="align-items: center">
  {{if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | absURL }}' 
	title="{{	.Site.Params.main.img_title }}" width="200px" 
	alt="Author's picture or avatar or logo"/>
  <ul>
    <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
  </ul>
  {{end}}
  <p>{{ .Site.Params.main.description | safeHTML }}</p>
  <div>
    <h2>Nombre</h2>
    <p>Jane Doe</p>
    <h2>Número de empleado</h2>
    <p>120</p>
    <h2>Numero de la empresa</h2>
    <p>919283821</p>
    <h2>Tipo de sangre</h2>
    <p>0+</p>
    <h2>Vigencia del trabajador</h2>
    <p>Vigente</p>
</div>
</div>
<!--{{ partial "menu.html" . }}-->
{{end}}

